/* TODO: LESS */
.main-container {
  display: flex;
  height: 100%;
  flex-flow: column;
}

#balance-container > * {
  margin-top: 0;
  margin-bottom: 0;
}

code {
  background: rgba(120, 120, 120, .3);
}

#receive-params {
  position: relative;
  padding-left: 180px;
  min-height: 180px;
}
#receive-qr {
  position: absolute;
  top: 0; left: 0;
}
#receive-qr a {
  position: absolute;
  top: 0; left: 0;
  width: 160px; height: 160px;
}

@media (max-width: 960px) {
  #receive-params {
    padding-left: 0;
  }
  #receive-qr {
    width: 100%;
    position: inherit;
  }
  #receive-qr > div {
    width: 160px;
    margin: auto;
  }
}

.mz {
  margin: 0;
}

.kv-table {
  width: 100%;
  table-layout: fixed;
}

.kv-table td {
  padding: 3px 0;
}
.kv-table th.k-col {
  width: 100px;
}

.tx-entry {
  border-left: 3px solid transparent;
}
.tx-entry.tx-in {
  border-left-color: #00c853;
}
.tx-entry.tx-in .tx-amt {
  color: #00c853;
}
.tx-entry.tx-pool {
  border-left-color: #b9f6ca;
}
.tx-entry.tx-out {
  border-left-color: #ff5252;
}
.tx-entry.tx-out .tx-amt {
  color: #ff5252;
}
.tx-entry.tx-pending {
  border-left-color: #ff8a80;
}
