
.main-container {
    display: flex;
    height: 100%;
    flex-flow: column;
}


#balance-container > * {
    margin-top: 0;
    margin-bottom: 0;
}
#balance {
    font-size: 12px
}
#unlocked-balance {
    font-size: 10px;
}

code {
  background: rgba(211, 211, 211, .7);
}


#receive-params {
  position: relative;
  padding-left: 220px;
  min-height: 220px;
}
#receive-qr {
  position: absolute;
  top: 0; left: 0;
}
#receive-qr a {
  position: absolute;
  top: 0; left: 0;
  width: 200px; height: 200px;
}

@media (max-width: 960px) {
  #receive-params {
    padding-left: 0;
  }
  #receive-qr {
    width: 100%;
    position: inherit;
  }
  #receive-qr > div {
    width: 200px;
    margin: auto;
  }
}


.trans-entry {
    border-left: 3px solid transparent;
}
.trans-entry.trans-in {
    border-left-color: green;
}
.trans-entry.trans-out {
    border-left-color: red;
}
.trans-entry.trans-pending {
    border-left-color: lightgray;
}
