html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Angular Material style sheet
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css')
    link(rel='stylesheet', href='/public/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

  body(ng-app='angularModule', ng-cloak='')
    div(class='main-container')
      md-toolbar
        h1.md-toolbar-tools Monero Wallet
      section
        //- md-sidenav.md-sidenav-left(md-is-locked-open='true', md-whiteframe='4')
          md-content(layout-padding)
            p Sidenav shit bitches - put some links in here

        //- div(layout='col', flex='grow')
        #dash(flex='grow')
          include dash.pug

    script(src='/node_modules/angular/angular.min.js')
    script(src='/node_modules/angular-aria/angular-aria.js')
    script(src='/node_modules/angular-animate/angular-animate.js')
    script(src='/node_modules/angular-material/angular-material.js')

    script(src='/node_modules/clipboard/dist/clipboard.js')
    script(src='/node_modules/ngclipboard/dist/ngclipboard.js')
    script(src='/node_modules/qrcode-generator/qrcode.js')
    script(src='/node_modules/angular-qrcode/angular-qrcode.js')

    script(src='/public/angular/angularModule.js')

    script(src='/public/angular/home/copyButton.directive.js')
    script(src='/public/angular/home/openAlias.service.js')
    script(src='/public/angular/home/modifyHttpPromise.service.js')
    script(src='/public/angular/home/poloniex.service.js')
    script(src='/public/angular/home/pricesDB.service.js')
    script(src='/public/angular/home/currencyHelper.service.js')
    script(src='/public/angular/home/moneroRpc.service.js')
    script(src='/public/angular/home/wallet.service.js')

    script(src='/public/angular/home/toXmrFiat.filter.js')

    script(src='/public/angular/home/home.controller.js')
